*{
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background: #222;
}

.card{
    width: 90%;
    max-width: 470px;
    text-align: center;
    padding:40px 35px;
    margin: 100px auto;
    border-radius: 30px;
    color: #fff;
    background: linear-gradient(135deg,#00feba, #5b548a);
}
.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search input{
    outline:0;
    border: 0;
    background:#ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius:30px;
    flex: 1;
    margin-right: 18px;
    font-size: 16px;

}

.search button{
    outline: 0;
    border: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 20px;
}

.weather-icon{
    width:170p ;
    margin-top: 30px;
}
.weather h1 {
    font-size:80px;
    font-weight: 500;

}
.weather h2 {
    font-size:45px;
    font-weight: 400;
    margin-top: -10px;

}
.details{
    display: flex;
    padding:0 20px;
    margin-top:50px;
    align-items: center;
    justify-content: space-between;
}
.col{
    display: flex;
    align-items: center;
    text-align: center;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size:28px;
    margin-top:-6px;
}

.weather{
    display: none;
}

.error{
    text-align: left;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
    display: none;

}