*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    color: #ffff;
    background: linear-gradient(135deg,#cf9aff,#95c0ff);
    padding-left: 20%;
    padding-top: 7%;
}
.container h1{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}
.container h1 img{
    width: 60px;
}
.container button img{
    width: 30px;
    margin-right: 10px;
}
.container button{
    display: flex;
    align-items: center;
    background: linear-gradient(#9418fd,#571094);
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 30px;
    font-size: 15px;
    padding: 15px 20px;
    margin:30px 0 20px;
    cursor: pointer;
}
.input-box{
    position: relative;
    width: 100%;
    max-width:500px;
    min-height: 150px;
    background: #fff;
    color: #333;
    outline: none;
    padding: 20px;
    margin: 20px;
    border-radius: 7px;
}
.input-box img{
    width: 30px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}