*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #262a2f;
}
.container{
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    border-radius: 20px;
    background: #fff;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.container p{
    font-weight: 600;
    font-size: 15px;
    margin-bottom:8px;
}
.container input{
    width: 100%;
    height:50px;
    border: 1px solid #494eea;
    outline: 0;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 5px;
}
.container button{
    width: 100%;
    height:50px;
    border: 1px solid #494eea;
    outline: 0;
    background:#494eea;
    color: #fff;
    margin:20px 0;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-weight: 500;
}

#img-box{
    width: 200px;
    border-radius: 5px;
     max-height: 0;
     overflow: hidden;
    transition: max-height 1s;
}

#img-box img{
    width: 100%;
    padding: 10px;

}
#img-box.show-img{
  max-height: 300px;
  margin: 10px auto;
  border: 1px solid #d1d1d1;

}
