*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background: radial-gradient(circle, #05263c, #000); 
}
.author{
   color: #000000;
   margin-bottom: 150px;
   font-size: 10px;
   letter-spacing: 2px;
   line-height: 1.3;
   text-align: center;
}
.author span{
    font-size: 25px;
}
.clock{
    width: 300px;
    height: 300px;
    position:relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle,#f029cf,#33ee42);

}
.clock::before{
    content: '';
    width: 325px;
    height: 325px;
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(to right, #05263c, #f841ef);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    z-index: -1;
}
.number{
   transform: rotate(calc(30deg * var(--n)));
   position: absolute;
   text-align: center;
   inset: 20px;
   font-size: 20px;
   color: #070707;
   text-shadow: 0 0 8px #bba90a; 
}   

.number b{
    transform: rotate(calc(-30deg * var(--n)));
    display: inline-block; 
}
.center-dot{
     position: absolute;
    width: 25px;
    height: 25px;
    background-color: gray;
    border-radius: 50%;
}
.hour-hand,.minute-hand, .second-hand{
    --rotate:0;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%) rotate(calc(var(--rotate)*1deg));
    transform-origin: bottom;
}
.hour-hand{
    width: 8px;
    height: 70px;
    background-color: #000;

}
.minute-hand{
    width: 6px;
    height: 100px;
    background-color: #000;

}
.second-hand{
    width: 3px;
    height: 110px;
    background-color: #000;
}

.center-dot{
    background: linear-gradient(to top,#000000,#020202);
    z-index: 1;
}
  /* digital clock */
  
.digital-clock{
    display: flex;
    gap: 20px;
    font-size:40px;
    color: #ffea2e;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
    width: 300px;
    height: 80px;
    background-color:#0000006c;
    margin-top: 50px;
    border-radius: 20px;
}
.digital-clock span{
    font-size: 25px;
}